:root {
  --input-padding-x: 1.5rem;
}

a:link {
  text-decoration:none;
  color: #367eb8;
}

a:visited {
  text-decoration:none;
  color: #367eb8;
}

a:hover {
  text-decoration:underline;
  color: #a29668;
}

.about,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://christinabejjani.github.io/files/ChristinaBejjani.png');
  background-size: cover;
  background-position: center;
}

.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 50px;
  text-decoration: none;
  color: #367eb8;
  background-color: white;
  border-top: 2px solid #367eb8;
  border-bottom: 2px solid #367eb8;
  border-right: 2px solid #367eb8;
  border-left: 2px solid #367eb8;
  font-size: 30px;
  padding: 1em;
  display: none;
}

.back-to-top:hover {
  background-color: white;
  text-decoration: none;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #ffffff;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
