:root {
  --input-padding-x: 1.5rem;
}

.about,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://christinabejjani.github.io/files/ChristinaBejjani.png') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}
