
.copy-link {
  color: #367eb8;
  text-decoration: none;
}

.copy-link:hover {
  color: #ee5253;
}

.border-line {
  border-left: 1em; 
  color: b4ccdf;
  min-height: 100vh;
}

.image{ min-height: 100vh}

.bg-image {
  background-image: url('https://christinabejjani.github.io/files/ChristinaBejjani.png'); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.svg-icon {
    display: inline-flex;
    align-self: center;
}

.svg-icon svg {
    height: 1em;
    width: 1em;
}

.svg-icon.svg-baseline svg {
    top: .125em;
    position: relative;
}

.icon {
    fill: #353b48;
    width: 48px;
    height: 40px;
    padding: 4px 10px 4px 10px;
}

.icon:hover {
    fill: white;
}

a.svg {
    position: relative;
    display: block;
}

.icon-scholar:hover {
    background-color: #357DF3;
}

.icon-rg:hover {
    background-color: #00CCBB;
}

.icon-osf:hover {
    background-color: #38B9EB;
}

.icon-email:hover {
    background-color: #dd4b3e;
}

.icon-linkedin:hover {
    background-color: #0077b7;
}

.icon-github:hover {
    background-color: #bd2c00;
}

.icon-orcid:hover {
    background-color: #A6CE39;
}

.icon-twitter:hover {
    background-color: #1DA1F2;
}

.bttn {width: 12em; text-align: center; border-radius: 4px; border: none; outline:none}

.link {text-decoration:none}
.link,.link:active,.link:focus,.link:hover,.link:link,.link:visited{transition:color .15s ease-in}
.link:focus{outline:1px dotted currentColor}

.dim,{opacity:1}
.dim,.dim:focus,.dim:hover{transition:opacity .15s ease-in}
.dim:focus,.dim:hover{opacity:.5}
.dim:active,.dim:visited{opacity:.8;transition:opacity .15s ease-out}

.pv2{padding-top:.5rem;padding-bottom:.5rem}

.white{color:#fff}

.bg-blue{background-color:#367eb8}

.applied-menu{
  right: 50%;
  left: -50%;
}

.mentoring-menu{
  left: -20%;
}

.other-menu{
  left: -25%; 
}

.dropdown-menu{
  display: none;
  top: 3.5em;
  margin-top: 0;
  background-color: #b4ccdf;
  -webkit-border-radius: 0 !important; /* creates the square dropdwon*/
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.dropdown:hover .dropdown-menu {display: block;}

.topnav .nav-link {
  text-decoration: none;
  color: #367eb8;
  border-bottom: 0.2em solid transparent;
}

.topnav .nav-link:hover {
  border-bottom: 0.2em solid #367eb8;
}

.topnav .nav-link.active {
  border-bottom: 0.2em solid #367eb8;
}

.navbar .dropdown-toggle {
  margin-bottom: 0;
}

.nav-link-child {
  color: #065B9E;
}

/*.topnav .nav-link.active,
.topnav .show > .nav-link {
    border-bottom: 0.2em solid #367eb8;
} this is here if I want to make the underline continue to show*/

.dropdown-menu-arrow {
  top: -25px;
  right: auto;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
  content: "";
  position: absolute;
  display: block;
  border-width: 10px 11px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
  bottom: -18px;
  right: -8px;
  border-bottom-color: #b4ccdf;
}
