.nav-pad{padding-top:1rem!important; padding-bottom:5rem!important; justify-content: center;}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}
.collapse.show .fas {
    color: #B8367E;
}

img[alt*="div7"] {height:25vh; }
img[alt*="rcr1"] {height:25vh; }
img[alt*="rcr2"] {height:25vh; }
