.masthead {
  height: 25vh;
  /*min-height: 500px;*/
  background-image: url('https://cdn.pixabay.com/photo/2016/07/30/19/47/banner-1557847_960_720.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-pad{padding-top:1rem!important; padding-bottom:5rem!important; justify-content: center;}

.question .nav-link.collapsed::after {
    content: 'see publications';
}

.question .nav-link:not(.collapsed)::after {
    content: 'hide publications';
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
  
}

