.masthead {
  height: 25vh;
  /*min-height: 500px;*/
  background-image: url('https://cdn.pixabay.com/photo/2016/07/30/19/47/banner-1557847_960_720.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-pad{padding-top:1rem!important; padding-bottom:5rem!important; justify-content: center;}
